.about img {
   
    width: 356px;
    margin-top: 29px;
}
.my-table-form{
    background-color: #f8f9fa;
}
.my-s-link{
    background-color: #f8f9fa;
}
ul.pagination {
   
    margin-left: 41%;
}